.main_bg
    .body_wrapper_container
        .body_wrapper
            .animated.slideInDown
                .home_logo.animated.infinite.pulse
                    img(src='img/logo.png')

            section(ng-if="!isSessionActive")
                .row
                    .col.col-50
                        .list.list-inset
                            label.item.item-input
                                input(type="text", placeholder="Email", ng-model="session.email")

                    .col.col-50
                        .list.list-inset
                            label.item.item-input
                                input(type="text", placeholder="Password", ng-model="session.token")

                .row.bottom_row
                    .col.col-25.col-offset-75.animated.rubberBand
                        button.button.button-balanced(ng-click='session.createSession()') Login

        section(ng-if="isSessionActive")
            .row.bottom_row
                //.col.col-25.animated.rubberBand
                //    button.button.button-calm(ui-sref='settings.homeTeam') Menu

                .col.col-25.col-offset-75.animated.rubberBand
                    button.button.button-balanced(ui-sref='settings.homeTeam', ng-click="resetGame()") Start
