.chalkboard_bg
    .chalkboard_header
        //active-team-headline
        h2 Incorrect!
    .chalkboard_content
        .question_container
            h3 Time to hit the books?
    .chalkboard_buttons
        .row
            .col.col-25.col-offset-75.animated.rubberBand
                button.button.button-balanced(ng-click='question.incorrectAnswer()') Next
