.chalkboard_bg
    .chalkboard_header
        active-team-headline
        h3.question-category
    .chalkboard_content
        .question_container
            p.question-first-line
            p.question-last-line
    .chalkboard_buttons
        .answers
            .answer.first-answer
            .answer.second-answer
            .answer.third-answer
            .answer.last-answer
