.clock_section
    h2.clock-face
    .current-quarter-marker
        span QTR
        span.current-quarter
    .clock_icons
        .row
            .col
                adjust-settings-button
            .col(ng-click='resumeGame()', ng-hide='gamePaused')
                span.ion-play
            .col(ng-click='pauseGame()', ng-show='gamePaused')
                span.ion-pause
            .col
                sound-effects-button
