.row
    .col.animated.rubberBand
        button.button.button-energized(ng-click='board.extraPoint(1)') kick for 1
    .col.animated.rubberBand
        button.button.button-positive(ng-click='board.extraPoint(2)') try for 2
