.chalkboard_below_content
    img(src="img/bg/chalkboard_play.jpg")

.content_above_chalkboard
    .animated.infinite.pulse
        active-team-headline
    .sb_content
        h3 get ready to call a play!
