.main_bg
    .scoreboard_view
        .gameboard_header
            .home
                ion-nav-view(name='home')
            .clock
                ion-nav-view(name='clock')
            .away
                ion-nav-view(name='away')
        .gameboard_content
            ion-nav-view(name='content')
        .gameboard_buttons
            ion-nav-view(name='buttons')
