.row
    .col.col-25.animated.rubberBand
        button.button.button-positive.play-roar-directive(ng-click='play.scoringPlay()') Score
    .col.col-25.col-offset-50.animated.rubberBand
        button.button.button-balanced(ng-click='board.toggleActive()', ui-sref='plays.new') next
