@font-face {
  font-family: "Eraser";
  src: url("/components/fonts/Eraser.otf");
}

@font-face {
  font-family: "OsBold";
  src: url("/components/fonts/Oswald-Bold.otf");
}

@font-face {
  font-family: "Oswald";
  src: url("/components/fonts/Oswald-Regular.otf");
}