@import "variables";

.play_view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.play_moves {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  font-size: 8vmin;

  span {
    font-family: $osbold;
    font-size: 10vmin;
  }
}

.play_content_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  text-align: center;

  h3 {
    font-family: $osbold;
  }

  p {
    position: absolute;
    bottom: 2vmin;
    font-size: 5vmin;
    left: 0;
    right: 0;

    span {
      font-family: $osbold;
      font-size: 7vmin;
    }
  }
}

.chalkboard_below_content {
  width:100%;
  height:100%;
  position: absolute;
  z-index: 4000;

  img {
    display: block;
    height:100%;
    width:auto;
    margin: 0 auto;
  }
}

.content_above_chalkboard {
  z-index: 5000;
  position: relative;
}
