$alabamaP: #DC143C;	//	crimson
$alabamaS: #ffffff;	//	white

//	arkansas
$arkansasP: #CD1041;	//	red
$arkansasS: #231F20;	//	black

//	auburn
$auburnP: #CC5500;	//	orange
$auburnS: #000080;	//	navy

//	florida
$floridaP: #2139CE;	//	royal
$floridaS: #FF4208;	//	orange

//	georgia
$georgiaP: #000000;	//	black
$georgiaS: #A0000B;	//	red

//	kentucky
$kentuckyP: #003399;	//	blue
$kentuckyS: #ffffff;	//	white

//	lsu
$lsuP: #33297B;	//	purple
$lsuS: #FDB827;	//	gold

//	state
$stateP: #762123;	//	maroon
$stateS: #D1D5D8;	//	silver

//	mizzou
$mizzouP: #231F20;	//	black
$mizzouS: #E8AF11;	//	gold

//	oleMiss
$oleMissP: #002C91;	//	blue
$oleMissS: #FF002C;	//	red

//	tenn
$tennP: #EE9627;	//	orange
$tennS: #ffffff;	//	white

//	texas
$texasP: #5C0025;	//	maroon
$texasS: #ffffff;	//	white

//	usc
$uscP: #000000;	//	maroon
$uscS: #CD0000;	//	black

//	vandy
$vandyP: #000000;	//	black
$vandyS: #BB8D09;	//	gold

// team mixins

@mixin teamColor($color) {
  color: $color !important;
}

@mixin alabama {
  @include teamColor($alabamaP);
}

@mixin arkansas {
  @include teamColor($arkansasP);
}

@mixin auburn {
  @include teamColor($auburnP);
}

@mixin florida {
  @include teamColor($floridaP);
}

@mixin georgia {
  @include teamColor($georgiaP);
}

@mixin kentucky {
  @include teamColor($kentuckyP);
}

@mixin lsu {
  @include teamColor($lsuP);
}

@mixin state {
  @include teamColor($stateP);
}

@mixin mizzou {
  @include teamColor($mizzouP);
}

@mixin oleMiss {
  @include teamColor($oleMissP);
}

@mixin tenn {
  @include teamColor($tennP);
}

@mixin texas {
  @include teamColor($texasP);
}

@mixin usc {
  @include teamColor($uscP);
}

@mixin vandy {
  @include teamColor($vandyP);
}

// team classes

.Alabama {
  @include alabama;
}

.Arkansas {
  @include arkansas;
}

.Auburn {
  @include auburn;
}

.Florida {
  @include florida;
}

.Georgia {
  @include georgia;
}

.Kentucky {
  @include kentucky;
}

.LSU {
  @include lsu;
}

.State {
  @include state;
}

.Mizzou {
  @include mizzou;
}

.Miss {
  @include oleMiss;
}

.Tenn {
  @include tenn;
}

.Texas {
  @include texas;
}

.USC {
  @include usc;
}

.Vandy {
  @include vandy;
}
